@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth; /* Smooth scrolling for the whole page */
}

.border-gradient {
  border-image: linear-gradient(to right, #4caf50, #0099cc) 1;
}

.border-gradient-input {
  border-image: linear-gradient(to right, #4caf50, #0099cc) 1;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: linear-gradient(to right, #4caf50, #0099cc);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
